.DS_Store
*.sublime-workspace
*.idea/
.vscode/

myenv
env
*.pyc

__pycache__/
*.egg-info/
.coverage


local_settings.py  # Local configurations
db.sqlite3         # SQLite database file
/media             # User-uploaded files (usually should not be tracked)
.kiro/


.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/ios/build
/android/build
/android/.gradle
/web-build




.gitignore.local